{% extends 'barsystem/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load l10n %}
{% block title %}{% trans 'Create account' %}{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/keyboard.css' %}" />
{% endblock %}
{% block javascript %}
{% if false %}
<script type="text/javascript" src="{% static 'js/keyboard.js' %}"></script>
{% endif %}
<script type="text/javascript" src="{% static 'js/timeout.js' %}"></script>
{% endblock %}

{% block navbuttons %}
	<a id="btn-cancel" class="btn btn-default navbar-btn" href="{% url 'index' %}">{% trans 'Cancel' %}</a>
{% endblock %}

{% block content %}
<h4>{% trans 'Create account' %}</h4>
<form method="post">
{% csrf_token %}
	<div class="form-group">
		<label for="inputName">{% trans 'Nickname' %}</label>
		<input type="text" class="form-control" name="name" id="inputName" placeholder="{% trans 'Name' %}" />
	</div>
	<div class="form-group">
		<label for="inputDeposit">{% trans 'Initial deposit' %}</label>
		<div class="input-group">
			<div class="input-group-addon">€</div>
			<input type="number" class="form-control" name="deposit" id="inputDeposit" placeholder="{% trans 'Amount' %}" />
		</div>
	</div>
	<button type="submit" class="btn btn-primary btn-lg">{% trans 'Create account' %}</button>
</form>
{% endblock %}