{% extends 'barsystem/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load l10n %}
{% load money_display %}
{% block title %}People{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/products.css' %}" />
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'js/timeout.js' %}"></script>
<script type="text/javascript">
$(function()
{
	$('.link').click(function()
	{
		location.href = $(this).data('href');
	});
})
</script>
{% endblock %}
{% block navbuttons %}
	<a id="btn-cancel" class="btn btn-default navbar-btn" href="{% url 'index' %}">{% trans 'Cancel' %}</a>
{% endblock %}

{% block content %}
<h4>{% trans 'Choose account' %}</h4>

<div role="tabpanel">
<ul class="nav nav-pills" role="tablist">
{% for letter, people in abc_buttons.items %}
{% if people %}
<li{% if not people %} class="disabled"{% endif %}><a data-toggle="tab" data-target="#people-{{ letter }}">{{ letter }}</a></li>
{% endif %}
{% endfor %}
</ul>
<br />
<div class="tab-content">
{% for letter, people in abc_buttons.items %}
<div class="tab-pane" id="people-{{letter}}">
{% for person in people %}
<div class="col-xs-12 col-sm-4 col-md-4">
<a href="{% url 'people_set' person.id %}" class="btn btn-default btn-lg btn-block">{{person}}</a>
</div>
{% endfor %}
</div>
{% endfor %}
</div>

{% if pagination_on %}
	<div class="row pagination">
		<span class="step-links">
		<a class="button-big inline" href="{% url 'index' %}"><div>Cancel</div></a><!--
			-->{% if people.has_previous %}<a class="button-big" href="?page={{ people.previous_page_number }}">
			{% else %}<a class="button-big disabled">
			{% endif %}<div>Previous</div></a><!--
			-->{% if people.has_next %}<a class="button-big" href="?page={{ people.next_page_number }}">
			{% else %}<a class="button-big disabled">
			{% endif %}<div>Next</div></a>

		</span>
		<br />
		<span class="current">
			Page {{ people.number }} of {{ people.paginator.num_pages }}.
		</span>
	</div>
{% endif %}
{% endblock %}