{% extends 'barsystem/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load l10n %}
{% load money_display %}

{% block title %}Products{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/keyboard.css' %}" />
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'js/complete.ly.1.0.1.js' %}"></script>
<script type="text/javascript" src="{% static 'js/util.js' %}"></script>
<script type="text/javascript" src="{% static 'js/products.js' %}"></script>
<script type="text/javascript" src="{% static 'js/keyboard.js' %}"></script>
<script type="text/javascript" src="{% static 'js/timeout.js' %}"></script>
<script type="text/javascript">
var socketEnable = {% if bar %}true{% else %}false{% endif %};

$(function(){
	{% if bar %}
	var sock = new WebSocket('ws://localhost:1234/ws/products');
	sock.onmessage = function(evt)
	{
		var message = evt.data;
		$.post("{% url 'products_get' %}", { 'code': message, 'csrfmiddlewaretoken': '{{ csrf_token }}' }, function(data)
		{
			if(data.product_id)
			{
				add_cart(data.product_id, 1);
			}
		});
	}
	{% endif %}
	$('#btn-checkout').click(function()
	{
		$('#cart').submit();
	});
})
</script>
<script type="text/javascript">
var products = {
{% for product in products %}
	{{ product.id }}: {
		id: {{ product.id }},
		name: "{{ product.name | safe }}",
		price: {{ product.price|unlocalize }},
		quantity_type: "{{ product.quantity_type }}",
		unit: "{{ product.unit }}",
	},
{% endfor %}
{% for product in special_products %}
	{{ product.id }}: {
		id: {{ product.id }},
		name: "{{ product.name }}",
		price: {{ product.price|unlocalize }},
		quantity_type: "{{ product.quantity_type }}",
		unit: "{{ product.unit }}",
	},
{% endfor %}
};
var cart = {{cart.js|safe}};
</script>
{% endblock %}

{% block navright %}
{% if person %}
<p class="navbar-text">User: {{ person.nick_name }}, saldo: <span class="balance{% if person.amount < 0 %} negative{% endif %}">{{ person.amount|money_display }}</span></p>
{% endif %}
{% endblock %}
{% block navbuttons %}
	<a id="btn-cancel" class="btn btn-default navbar-btn" href="{% url 'index' %}">{% trans 'Cancel' %}</a>
{% endblock %}

{% block content %}

{% regroup products by category as products_by_category %}

<!-- products -->
<div id="products" class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
	<div role="tabpanel">
		<ul class="nav nav-pills" role="tablist">
{% comment %}
			<li class="active"><a data-toggle="tab" data-target="#category_popular">{% trans 'Popular' %}</a></li>
{% endcomment %}
			{% for group in products_by_category %}
			<li role="presentation"{% if forloop.first %} class="active"{%endif%}>
			{% if group.grouper == None %}
			<a role="tab" data-toggle="tab" data-target="#category_unsorted">{% trans 'Unsorted' %}</a>
			{% else %}
			<a role="tab" data-toggle="tab" data-target="#category_{{group.grouper.id}}">{{group.grouper.name}}</a>
			{% endif %}
			</li>
			{% endfor %}
			<li><a data-toggle="tab" data-target="#category_special">{% trans 'Special products' %}</a></li>
		</ul>
		<div id="tabContent" class="tab-content">
{% comment %}
			<div class="tab-pane active" id="category_popular">
			{% with products=popular_products %}
			{% include 'barsystem/products.inc.html' %}
			{% endwith %}
			</div>
{% endcomment %}

			{% for group in products_by_category %}
			<div class="tab-pane{% if forloop.first %} active{%endif%}" id="category_{% if group.grouper == None %}unsorted{% else %}{{group.grouper.id}}{% endif %}">
			{% with products=group.list %}
			{% include 'barsystem/products.inc.html' %}
			{% endwith %}
			</div>
			{% endfor %}

			<div class="tab-pane" id="category_special">
			{% with products=special_products %}
			{% include 'barsystem/products.inc.html' %}
			{% endwith %}
			</div>
		</div>
	</div>
</div>
<!-- end products -->

<!-- cart -->
<div class="col-xs-12 col-sm-4 col-md-3">
<form id="cart" method="post" action="{% url 'products' %}">
	{% csrf_token %}
	<button class="btn btn-primary btn-lg btn-block" type="submit">{% trans 'Checkout' %}</button>
	<hr class="row" />
	<div id="cart-total" class="row">{% trans 'Total' %}: <span id="cart-total-price"></span></div>
	<ul id="cart-items" class="">
	</ul>
</form>
</div>
<!-- end cart -->

<!--div id="cmdline" class="col-xs-8 col-md-8 col-sm-8"><div></div></div-->

{% endblock %}

{% block extracontent %}
<div id="enter-quantity" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{% trans 'Enter quantity' %}</h4>
			</div>
			<div class="modal-body">
				<p>
					<div id="enter-quantity-form">
						<div id="numpad" class="numpad">
							<input class="keyboard-input" type="text" name="value" maxlength="10" /> <span class="input-unit"></span>
							<div class="keyboard"></div>
						</div>
					</div>
				</p>
			</div>
			<div class="modal-footer">
				<div class="btn-group">
					<button type="button" class="btn btn-primary" name="ok">{% trans 'Confirm' %}</button>
					<button type="button" class="btn btn-default" data-dismiss="modal" name="cancel">{% trans 'Cancel' %}</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% if false %}
<div id="help" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Help</h4>
			</div>
			<div class="modal-body">
				<p>
					Command line interface:
					<dl>
						<dt><kbd>help</kbd></dt><dd>this right here</dd>
						<dt><kbd>ok</kbd></dt><dd> checkout shopping cart</dd>
						<dt><kbd>cancel</kbd></dt><dd> cancel order</dd>
						<dt><kbd>buy <var>quantity</var> <var>product</var></kbd></dt><dd> set the cart quantity of the product</dd>
						<dt><kbd><var>quantity</var> <var>product</var></kbd></dt><dd> add <var>quantity</var> products to cart</dd>
						<dt><kbd><var>product</var></kbd></dt><dd> add 1 of the product to the cart</dd>
					</dl>
				</p>
				<p>
					Currently there is a bug here which prevents you from closing the help window with the escape key...
				</p>
			</div>
		</div>
	</div>
</div>
{% endif %}

<div class="modal" id="keyboard">
	<div class="modal-bg"></div>
	<div class="modal-content">
		<input>
		<div class="keyboard"></div>
	</div>
</div>

<!-- cart item template -->
<template id="templateCartItem">
<li class="product cart-product row col-md-12 col-sm-12" data-product-id="{id}">
<div>
{quantity} {unit} <strong>{name}</strong><br />
<span class="price">{price}</span>
<input type="hidden" name="products[{id}][quantity]" value="{quantity}" />
</div>
</li>
</template>
<!-- end template -->
{% endblock %}