{% extends 'barsystem/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load l10n %}
{% load money_display %}
{% block title %}Confirm order{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/products.css' %}" />
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'js/timeout.js' %}"></script>
{% endblock %}

{% block navbuttons %}
	<a class="btn btn-default navbar-btn" href="{% url 'products' %}">{% trans 'Back' %}</a>
	<a id="btn-cancel" class="btn btn-default navbar-btn" href="{% url 'index' %}">{% trans 'Cancel' %}</a>
{% endblock %}

{% block content %}
<div class="row">
	<table class="table">
		<thead>
			<tr>
				<th>{% trans 'Product' %}</th>
				<th>{% trans 'Quantity' %}</th>
				<th>{% trans 'Amount' %}</th>
			</tr>
		</thead>
		<tbody>
{% for item in cart.values %}
			<tr>
				<td>{{ item.product }}</td>
				<td>{{ item.quantity }}{% if item.product.unit %} {{ item.product.unit }}{% endif %}</td>
				<td>{{ item.amount | money_display }}</td>
			</tr>
{% endfor %}
		</tbody>
	</table>
</div>
<div class="row total-line">
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{% trans 'Total' %}</div>
	<div class="value col-xs-4 col-sm-4 col-md-4 col-lg-4">{{total|money_display}}</div>
</div>
<div class="row total-line">
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{% trans 'Balance' %}</div>
	<div class="value col-xs-4 col-sm-4 col-md-4 col-lg-4">{{balance|money_display}}</div>
</div>
<div class="row total-line">
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{% trans 'New balance' %}</div>
	<div class="value col-xs-4 col-sm-4 col-md-4 col-lg-4">{{new_balance|money_display}}</div>
</div>
<div class="row total-line">
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{% trans 'Limit' %}</div>
	<div class="value col-xs-4 col-sm-4 col-md-4 col-lg-4">{{balance_limit|money_display}}</div>
</div>
<div class="row total-line">
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{% trans 'Can checkout' %}</div>
	<div class="value col-xs-4 col-sm-4 col-md-4 col-lg-4">{{checkout_permitted}}</div>
</div>
<hr />
<form method="post" action="{% url 'products_confirm' %}">
{% csrf_token %}
<div class="row">
	<button class="btn btn-primary btn-lg" type="submit" name="action" value="confirm"{% if not checkout_permitted %} disabled="disabled"{% endif %}>{% trans 'Confirm' %}</button>
</div>
</form>
{% endblock %}