{% extends 'barsystem/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load l10n %}
{% load money_display %}
{% block title %}Confirm order{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'js/timeout.js' %}"></script>
{% endblock %}

{% block navbuttons %}
	<a class="btn btn-default navbar-btn" href="{% url 'products' %}">{% trans 'Back' %}</a>
	<a id="btn-cancel" class="btn btn-default navbar-btn" href="{% url 'index' %}">{% trans 'Cancel' %}</a>
{% endblock %}

{% block content %}
<div id="products" class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
<div class="row">
	<table class="table">
		<thead>
			<tr>
				<th>{% trans 'Product' %}</th>
				<th>{% trans 'Quantity' %}</th>
				<th>{% trans 'Amount' %}</th>
			</tr>
		</thead>
		<tbody>
{% for item in cart.values %}
			<tr>
				<td>{{ item.product }}</td>
				<td>{{ item.quantity }}{% if item.product.unit %} {{ item.product.unit }}{% endif %}</td>
				<td>{{ item.amount | money_display }}</td>
			</tr>
{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th colspan="2">{% trans 'Total' %}</th>
				<td>{{total|money_display}}</td>
			</tr>
{% if person %}
			<tr>
				<th colspan="2">{% trans 'Balance' %}</th>
				<td>{{balance|money_display}}</td>
			</tr>
			<tr>
				<th colspan="2">{% trans 'New balance' %}</th>
				<td>{{new_balance|money_display}}</td>
			</tr>
{% endif %}
		</tfoot>
	</table>
</div>
{% comment %}
<div class="row total-line">
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{% trans 'Limit' %}</div>
	<div class="value col-xs-4 col-sm-4 col-md-4 col-lg-4">{{balance_limit|money_display}}</div>
</div>
<div class="row total-line">
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{% trans 'Over limit' %}</div>
	<div class="value col-xs-4 col-sm-4 col-md-4 col-lg-4">{{over_limit}}</div>
</div>
<div class="row total-line">
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{% trans 'Can checkout' %}</div>
	<div class="value col-xs-4 col-sm-4 col-md-4 col-lg-4">{{checkout_permitted}}</div>
</div>
{% endcomment %}
</div>
<div class="col-xs-12 col-sm-4 col-md-3">
<form method="post" action="{% url 'products_confirm' %}">
{% csrf_token %}
<button class="btn btn-primary btn-lg btn-block" type="submit" name="action" value="confirm"{% if not checkout_permitted %} disabled="disabled"{% endif %}>{% trans 'Confirm' %}</button>
</form>
</div>
{% endblock %}