/* main.css */

h1, h2 {
	margin: 2px 0;
	padding: 0;
	font-size: 20px;
}

h2 {
	text-align: right;
}

.button.action > div {
	line-height: 52px;
}

.button-big {
	border: 2px solid black;
	border-radius: 5px;
	cursor: pointer;
	background-color: #fff;
	color: #000;
	margin: 1px;
	padding: 0 2px;
	text-decoration: none;
	width: 150px;
	height: 60px;
}
.button-big:hover {
	border-color: #ee0;
}

.button-big.disabled {
	cursor: default;
	color: gray;
	border-color: gray;
}
.button-big.disabled:hover {
	border-color: gray;
}

.button-big.inline {
	display: inline-block;
}

.name {
	font-weight: bold;
}
.money.negative {
	color: red;
}

.pagination .button-big {
	display: inline-block;
	text-align: center;
}

.button-big > div {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%)
}

.total-line .value
{
	text-align: right;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
