/* main.css */

.name {
	font-weight: bold;
}
.money.negative {
	color: red;
}

.button-big > div {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%)
}

.total-line .value
{
	text-align: right;
}

/* hide spinner for <input type="number" /> in chrome & mozilla */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

/* products.css */

/* ------ cart & product ----- */

.product {
	padding: 2px;
}

.product > div {
	background-color: #fff;
	border: 2px solid black;
	border-radius: 5px;
	cursor: pointer;
	padding: 2px;
	padding-left: 4px;
	min-height: 62px;
}
.product:hover > div {
	border-color: #ee0;
}

/* ------------- products ----------------- */

.product.in-cart > div {
	background-color: yellow;
}
.product img {
	margin: 2px;
	float: right;
	height: 48px;
}

/* ---------------- cart ------------------- */

#cart-items {
	margin: 0;
	padding: 0;
	list-style: none;
}

#cart-total {
	font-size: 1.2em;
}

/* --------- other -------- */

.balance.negative {
	color: red;
	font-weight: bold;
}

#connection {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1001;
}
#connection.ok div {
	border-color: green;
	background-color: green;
}
#connection.fail div {
	border-color: red;
	background-color: red;
}
#connection div {
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-radius: 10px;
	width: 20px;
	height: 20px;
	background-color: transparent;
}